.filter.row
  %h2
    цвет
  
  - colors = ["Шоколад", "Жемчуг", "Сталь", "Надежда"]
  .radio.filter-color
    - for color in colors
      %label{for: "#{color}", class: "radio-inline"}
        %input{type: "radio", name: "size", id: "#{color}", class: "hide"}
          = color