.filter.panel.row
  
  .panel-heading
    %h2
      %a{href: "#filter-price", 'data-toggle': "collapse"}
        цена
        %span{class: "caret"}
    
  #filter-price.collapse
    .panel-body
      %p.price-tag
        %label(for="amount")
        %input(id="amount" readonly="" style="border:0; margin-left: -32px;" type="text")

      #slider-range.filter-price