.filter.panel.row
  
  .panel-heading
    %h2
      %a{href: "#filter-fur", 'data-toggle': "collapse"}
        выбор меха
        %span{class: "caret"}
      
  - categories = ["Одним списком", "Блюфрост", "Бобер", "Енот", "Каракуль", "Кролик", "Куница", "Лиса", "Мутон", "Нормка", "Ондатра", "Рысь", "Соболь", "Хорь", "Прочие меха"]
  
  #filter-fur.collapse
    %ul.filter-fur.list-unstyled.panel-body
      - for category in categories
        %li
          %a{href: "#"}
            = category