.filter.panel.row

  .panel-heading
    %h2
      %a{href: "#filter-category", 'data-toggle': "collapse"}
        категории
        %span{class: "caret"}
  
  - categories = ["Все", "Новинки", "Хиты продаж", "Распродажа"]
  
  #filter-category.collapse
    %ul.panel-body.filter-category.list-unstyled
      - for category in categories
        %li
          %a{href: "#"}
            = category