%footer.clearfix.row
  .col.col-lg-12
    %section.row
      .col.col-lg-3
        %h5 &#169 2015 Aliance Fur
        %p
          Все права защищены
          %br
          Все цены указаны в рублях с учетом НДС
        %p
          %a{href: "#"}
            Правовая информация
    
      .col.col-lg-3
        %ul.footer-menu.list-unstyled
          %li 
            %a{href: "#"}
              О фабрике 
          %li 
          %a{href: "#"}
            Реквизиты
          %li 
          %a{href: "#"}
            Контакты
        %p.contacts
          \+7 (928)813-41-19
          %br
          shuba@aliance-fur.ru
    
      .col.col-lg-3
        %ul.footer-menu.list-unstyled
          %li 
            %a{href: "#"}
              Доставка
          %li 
            %a{href: "#"}
              Оплата
          %li 
            %a{href: "#"}
              Возврат товара
          %li 
            %a{href: "#"}
              Публичная Оферта
          %li 
            %a{href: "#"}
              Сертификат
    
      .col.col-lg-3
        %ul.footer-menu.list-unstyled
          %li 
            %a{href: "#"}
              Личный кабинет
          %li 
            %a{href: "#"}
              Профиль
          %li 
            %a{href: "#"}
              Сотрудничество
          %li 
            %a{href: "#"}
              Оптовые продажи
          %li 
            %a{href: "#"}
              Поставщикам