#pages.row.clearfix
  .col.col-lg-12
    .center-block.content
      
      %ul.list-inline.list-unstyled
        %li
          %a{href: "#"}
            %span{class: "glyphicon glyphicon-chevron-left"}
        
        - for iteam in [1..8]
          %li
            %a{href: "#"}
              = iteam
        
        %li
          %a{href: "#"}
            %span{class: "glyphicon glyphicon-chevron-right"}