.content.row.clearfix
  .col.col-lg-12
    %section(class="btn-toolbar" role="toolbar")
      .btn-group.center-block
        - for iteam in [1..8]
          %button(class="btn btn-default" type="button")
            = iteam