- info_items = ["Доставка", "Оплата", "Возврат товара", "Сертификаты", "Сотрудничество", "Оптовые продажи", "Поставщикам", "Реквизиты", "Контакты"]

%ul{class: "dropdown-menu", role: "menu"}
  - for iteam in info_items
    %li
      %a{href: "#"} 
        = iteam