- info_items = ["Доставка", "Оплата", "Возврат товара", "Сертификаты", "Сотрудничество", "Оптовые продажи", "Поставщикам", "Реквизиты", "Контакты"]

%ul{class: "dropdown-menu", role: "menu"}
  - for iteam in info_items
    %li.text-center
      %a{href: "#"} 
        = iteam
    - if iteam != info_items[info_items.length - 1]
      %hr