%section.filter.categories.container-fluid
  .content.row
    
    - categories = [
      - {name: "Шубы", url: "91"}, 
      - {name: "Полушубки", url: "92"}, 
      - {name: "Жилеты", url: "93"}, 
      - {name: "Аксессуары", url: "94"}, 
      - {name: "Шапки", url: "95"}, 
      - {name: "Сумки", url: "96"}, 
      - {name: "Руковицы", url: "97"}]
      
    %ul{class: "nav nav-pills hidden-xs"}
      - for category in categories
        %li.text-center
          %img{src: "images/#{category.url}.png", alt: "Icon"}
          %a{href: "#"}
            = category.name
    
    #mobile-categories.dropdown.visible-xs
      %button(type="button" class="btn btn-mobile dropdown-toggle" data-toggle="dropdown")
        Категории 
        %span{class: "caret"}
      %ul.dropdown-menu.list-unstyled
        - for category in categories
          %li.text-center
            %a{href: "#"}
              = category.name